[Unit]
Description=mc-server daemon

[Service]
EnvironmentFile=-/etc/sysconfig/mc-server
ExecStart=/opt/bin/mc-server $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target